
.MyProfileComponentNameGrid {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.MyProfileComponentProfileImage {
    height: 20vh;
}


.MyProfileComponentMainGrid {
    height: 100%;
}

.MyProfileComponentPaper {
    width: 100%;
}

.MyProfileComponentNameDisplay {
    white-space: pre-wrap;
}
